{% extends "editor/base.html" %}
{% import "macros.html" as macros %}

{% block scripts %}
	{{ super() }}
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
{% endblock %}

{% block body %}

	<div class="flex items-center mx-auto min-h-screen max-w-2xl">
		<div class="flex-1">
			{% include "branding/logo.html" %}

			{% if errors %}
				<div class="py-4">
					{% for e in errors.direct_causes %}
						{% call macros.danger_notify() %}
							{{ e }}
						{% endcall %}
					{% endfor %}
				</div>
			{% endif %}

			{% block form %}
			{% endblock %}
		</div>
	</div>

{% endblock body %}
