{# ---- notifications ---------------------------------------- #}

{# jinja2 doesn't support nested macro calls (yeah...) so these are just copy-pasted #}

{% macro danger_notify() %}
	<div class="p-2 rounded bg-red-100 text-red-500 flex items-center">
		<i class="fas fa-exclamation-circle mr-4 text-xl"></i>
		<div class="text-sm"> {{ caller() }} </div>
	</div>
{% endmacro %}

{% macro direct_error_list(errors) %}
	{% if errors %}
		{% for e in errors.direct_causes %}
			{% call danger_notify() %}
				{{ e }}
			{% endcall %}
		{% endfor %}
	{% endif %}
{% endmacro %}

{% macro info_notify() %}
	<div class="p-2 rounded bg-blue-100 text-blue-500 flex items-center">
		<i class="fas fa-info-circle mr-4 text-xl"></i>
		<div class="text-sm"> {{ caller() }} </div>
	</div>
{% endmacro %}

{# ---- tooltips ---------------------------------------- #}

{% macro tooltip_container(class="") %}
	<div class="relative group {{class}}">
		{{ caller() }}
	</div>
{% endmacro %}

{% macro tooltip_hover() %}
	<div class="absolute hidden group-hover:block bottom-full right-1/2 transform translate-x-1/2 mb-1
				bg-gray-800 text-white px-2 py-1 rounded pointer-events-none z-30 whitespace-nowrap
				text-sm">
		 {{ caller() }}
	</div>
{% endmacro %}

{# ---- inputs ---------------------------------------- #}

{% macro input_class(errors) %}
	w-full block rounded border h-10 p-2 {% if errors %} border-red-500 {% endif %}
{% endmacro %}

{% macro input_errors(errors) %}
	{% if errors %}
		{% for e in errors %}
			<div class="text-red-500 text-sm font-bold">
				{{ e }}
			</div>
		{% endfor %}
	{% endif %}
{% endmacro %}

{# -- text -------------------- #}

{% macro text_input_label(label) %}
	{% if label %}
		<label class="text-gray-800 text-sm">
			{{ label }}
		</label>
	{% endif %}
{% endmacro %}

{% macro text_input(name, type="text", errors=false, required=false, value=None, placeholder=None) %}
	<input type="{{type}}"
		   name="{{name}}"
		   {% if required %} required {% endif %}
		   {% if value %} value="{{value}}" {% endif %}
		   {% if placeholder %} placeholder="{{placeholder}}" {% endif %}
		   class="{{ input_class(errors) }}"
		   />
{% endmacro %}

{# -- checkbox -------------------- #}

{% macro checkbox_input(name, checked, required=false) %}
	<input type="checkbox"
		   name="{{name}}"
		   {% if required %} required {% endif %}
		   {% if checked %} checked {% endif %}
		   class="h-5 w-5 mr-2"
		   />
{% endmacro %}

{% macro labeled_checkbox(label, errors=false) %}
	<label class="flex items-center text-gray-800 {% if errors %} p-1 border border-red-500 {% endif %}">
		{{ caller() }}
		{{ label }}
	</label>
{% endmacro %}

{# ---- text ---------------------------------------- #}

{% macro code() %}
	<span class="font-mono p-1 bg-gray-100 rounded">{{ caller() }}</span>
{% endmacro %}
